@import url('https://fonts.googleapis.com/css?family=Playball');


$inner-bck-clr: #EEF8F6;
$nav-items-clr: #A4BFBA;
$figure-hover-brd-clr: #FCDFB3;
$navy-accent-clr: #27354F;
$gray-footer-fnt-clr: #AFB5BF;
$white-clr: #fff;
$black-clr: #000;

$logo-font: Playball, sans-serif;
$main-font: Helvetica, sans-serif;